#-----------------------------------------------------------------------
#
# Constraints file with pin assignments.
# CoolRunner-II CPLD starter board, ISE Design Suite 14.7
#
# Copyright (c) 2017-2020 Tomas Fryza
# Dept. of Radio Electronics, Brno University of Technology, Czechia
# This work is licensed under the terms of the MIT license.
#
#-----------------------------------------------------------------------

#-----------------------------------------------------------------------
# Buttons & switches
#-----------------------------------------------------------------------
# Two push buttons
#NET BTN1        LOC = P94 | IOSTANDARD = LVCMOS33;
NET BTN0        LOC = P143 |IOSTANDARD = LVCMOS33;

# Two slide switches
#NET SW1         LOC = P124 | IOSTANDARD = LVCMOS33;
#NET SW0         LOC = P39 | IOSTANDARD = LVCMOS33;

#-----------------------------------------------------------------------
# Four discrete LEDs
#-----------------------------------------------------------------------
#NET LD3         LOC = P64 | IOSTANDARD = LVCMOS33;
#NET LD2         LOC = P66 | IOSTANDARD = LVCMOS33;
#NET LD1         LOC = P68 | IOSTANDARD = LVCMOS33;
#NET LD0         LOC = P69 | IOSTANDARD = LVCMOS33;

#-----------------------------------------------------------------------
# Four-digit time-multiplexed seven-segment LED display
#-----------------------------------------------------------------------
# LED segments
NET disp_seg_o<6>   LOC = P56 |IOSTANDARD = LVCMOS33;  # segment a
NET disp_seg_o<5>   LOC = P53 |IOSTANDARD = LVCMOS33;  # segment b
NET disp_seg_o<4>   LOC = P60 |IOSTANDARD = LVCMOS33;  # segment c
NET disp_seg_o<3>   LOC = P58 |IOSTANDARD = LVCMOS33;  # segment d
NET disp_seg_o<2>   LOC = P57 |IOSTANDARD = LVCMOS33;  # segment e
NET disp_seg_o<1>   LOC = P54 |IOSTANDARD = LVCMOS33;  # segment f
NET disp_seg_o<0>   LOC = P61 |IOSTANDARD = LVCMOS33;  # segment g
# Digits
NET disp_dig_o<3>   LOC = P130 |IOSTANDARD = LVCMOS33;
NET disp_dig_o<2>   LOC = P129 |IOSTANDARD = LVCMOS33;
NET disp_dig_o<1>   LOC = P128 |IOSTANDARD = LVCMOS33;
NET disp_dig_o<0>   LOC = P126 |IOSTANDARD = LVCMOS33;

# Decimal point
NET disp_dp         LOC = P59 |IOSTANDARD = LVCMOS33;

#-----------------------------------------------------------------------
# Clock
#-----------------------------------------------------------------------
NET clk_i           LOC = P38 |IOSTANDARD = LVCMOS33;
#Created by Constraints Editor (xc2c256-tq144-6) - 2020/03/07
NET "clk_i" TNM_NET = clk_i;
TIMESPEC TS_clk_i = PERIOD "clk_i" 100 us HIGH 50%;
